body {
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
}

#trivia-display {
    height: 20rem;
    display: flex;
    justify-content: center;
}

#game-board {
    height: 100%;
    display: flex;
    flex-wrap: wrap;

}

.tile {
    height: 5rem;
    width: 5rem;
    margin-bottom: 4rem;
    border: solid black;
    
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}