@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body {
    height: 100%;
    background-color: rgb(4, 4, 4);
    /* overflow: hidden; */
}

.App {
    height: 100vh;
    display: flex;
    flex-direction : column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: center;
    justify-items: column;
    font-family: "Alfa Slab One";
}

h1 {
    color: yellow;
    opacity: 0;
    animation: fade 10s ease
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#timer-section {
    display: flex;
    justify-content: center;
}

#timer {
    color: yellow;
}

#trivia-container {
    min-height: 24rem;
    display: flex;
    flex-grow: 2;
    justify-content: center;
}

#trivia-display {
    position: absolute;
    min-height: 24rem;
    display: flex;
    flex-grow: 2;
    justify-content: center;
    border-radius: 30px;
    margin-right: 400px;
    margin-left: 400px;
    background-color: transparent;
    box-shadow: 
        lightblue 0px 30px 60px -12px,
        lightblue 0px 18px 36px -18px;
    animation: transition 2s;
    transform-style: preserve-3d;
    transform: rotateY(360deg);
    perspective: 1000px
}

@keyframes transition {
    from {
        transform: rotateY(0deg)
    }
    to {
        transform: rotateY(360deg)
    }
}

#question-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 2;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

#question {
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-left: 3rem;
    margin-right: 3rem;
}

#correct-container {
    height: 3rem;
    display: flex;
    justify-content: center;
}

.isCorrect {
    font-weight: bold;
}

#correct {
    color: lightgreen;
}

#incorrect {
    color: rgb(247, 178, 178)
}

#answers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.answer {
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 1rem;
    flex-grow: 1;
    margin-top: 3rem;
    margin-left: 6rem;
    margin-right: 6rem;
    padding-right: 2rem;
    padding-left: 2rem;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: background-color .3s
    
}

.answer p {
    margin-left: 10px;
    margin-right: 10px
}

.answer:hover {
    background-color: yellow;
}

.correct-answer {
    background-color: lightgreen;
}

.incorrect-answer {
    background-color: rgb(245, 97, 97);
}

#die-on {
    width: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#die-off {
    width: 20rem;
}

.die {
    height: 4rem;
    border-radius: 40px;
    margin-top: 1rem;
}

.die:active {
    box-shadow: 
        rgb(236, 236, 152) 0px 54px 55px,
        rgb(236, 236, 152) 0px -12px 30px, 
        rgb(236, 236, 152) 0px 4px 6px, 
        rgb(236, 236, 152) 0px 12px 13px, 
        rgb(236, 236, 152) 0px -3px 5px;
}

.die:hover {
    animation: pop 3s ease;
}


@keyframes pop {
        0%   { transform: scale(1,1)      translateY(0); }
        10%  { transform: scale(1.1,.9)   translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-50px); }
        50%  { transform: scale(1.05,.95) translateY(0); }
        57%  { transform: scale(1,1)      translateY(-7px); }
        64%  { transform: scale(1,1)      translateY(0); }
        100% { transform: scale(1,1)      translateY(0); }
}

#die-info {
    width: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#die-value {
    color: red;
    font-size: 45px;
}

#click-again-to-move {
    color: lightgreen;
}

#player-wins {
    position: absolute;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#winning-player {
    color: lightgreen;
    font-weight: bold;
    font-size: 40px;
}

input {
    margin-bottom: 2rem;
}

#die-player {
    min-height: 11rem;
    display:flex;
    align-items: row;
    justify-content: space-around;
}

.turn-container{
    width: 20rem;
    display: flex;
    justify-content: flex-end;
}

#player1-turn {
    color: rgb(248, 155, 155);
    font-size: 40px;
}

#player2-turn {
    color: rgb(167, 167, 245);
    font-size: 40px;
}

#game-board {
    display: flex;
    justify-content: center;
}

.tile {
    height: 5rem;
    width: 5rem;
    border-radius: 10px;
    margin-bottom: 4rem;
    margin-left: 0.7rem;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

#white-pawn {
    height: 2rem;
    margin-top: 1.2rem;
    animation: slidein 3s ease;
    transition: tranform 10s
}

#black-pawn {
    height: 2rem;
    margin-top: 1.2rem;
    animation: slidein 3s ease;
    transition: all 5s
}

@keyframes slidein {
    from {
        transform: translate(-100px)
    }
    
    to {
        transform: translate(0px)
    }
}